<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
  <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
    <div class="align-items-center d-none d-md-flex">
      <i class="bi bi-clock"></i> Monday - Sunday, 8AM to 11PM
    </div>
    <div class="d-flex align-items-center">
      <i class="bi bi-phone"></i> Call us now +966 54 423 9000
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <a href="index.html" class="logo me-auto"><img src="assets/img/logo1.png" alt=""></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto " href="#hero">{{localizations.home[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#about">{{localizations.about[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#services">{{localizations.services[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">{{localizations.gallery[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#faq">{{localizations.faq[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#testimonials">{{localizations.testimonials[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#clients">{{localizations.client[lan]}}</a></li>
        <li><a class="nav-link scrollto" href="#contact">{{localizations.contact[lan]}}</a></li>
        <li><a href="#" id="lang-switcher" (click)="changeLanguage()">{{lan == 'Ar' ? 'En' : 'Ar'}}</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#booking" class="appointment-btn scrollto"><span class="d-none d-md-inline">Book Your Dream </span>
      Vacation</a>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <div class="container">
          <h2>Discover the Magic of Bali</h2>
          <p>From the stunning beaches and beautiful temples to the world-renowned surf, Bali is a tropical paradise
            that has something for everyone. Explore this exotic and exciting destination and create memories that will
            last a lifetime.

          </p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        <div class="container">
          <h2>Explore the Best of Turkey</h2>
          <p>Experience the vibrant culture, ancient ruins, and breathtaking beaches of Turkey. From the bustling
            streets of Bangkok to the pristine shores of Phuket, Turkey is a destination that will capture your heart
            and leave you wanting more.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/2.png)">
        <div class="container">
          <h2>Discover Sri Lanka</h2>
          <p> Immerse yourself in the lush jungles, vibrant cities, and stunning beaches of Sri Lanka. Experience the
            rich culture and history of this unique destination and create memories that will last a lifetime.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div *ngFor="let x of sections?.featuredServ?.specs[lan]; let i = index"
          class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" [attr.data-aos-delay]="(i+1)*100">
            <div class="icon"><i class="{{x.Icon}}"></i></div>
            <h4 class="title"><a href="">{{x.Name}}</a></h4>
            <p class="description">{{x.Value}}</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= Fast booking Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>{{sections?.fastFlight?.Title_localized[lan.toLowerCase()]}}</h3>
        <p [innerHTML]="sections?.fastFlight?.Text_localized[lan.toLowerCase()]">
        </p>
        <a class="cta-btn scrollto" href="#booking"
          style="text-decoration: none;">{{localizations.fastbookingbtn[lan]}}</a>
      </div>

    </div>
  </section>

  <!-- End Cta Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{sections?.aboutUs?.Title_localized[lan.toLowerCase()]}}</h2>
        <p>{{sections?.aboutUs?.Brief_localized[lan.toLowerCase()]}}</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <p [innerHTML]="sections?.aboutUs?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Statistics Section ======= -->


  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch"
          *ngFor="let x of sections?.statistics?.specs[lan]">
          <div class="count-box">
            <i class="{{x.Icon}}"></i>
            <span data-purecounter-start="0" [attr.data-purecounter-end]="x.Value" data-purecounter-duration="2"
              class="purecounter">{{x.Value}}</span>
            <!-- <p [innerHTML]="x.Name | safeHtml"></p> -->
            <p><b>{{x.Name}}</b></p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- End Counts Section -->


  <!-- ======= Services Section ======= -->

  <section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{sections?.services?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.services?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100"
          *ngFor="let x of sections?.services?.specs[lan]">
          <div class="icon"><i class="{{x.Icon}}"></i></div>
          <h4 class="title"><a href="">{{x.Name}}</a></h4>
          <p class="description">{{x.Value}}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= booking Section ======= -->
  <section id="booking" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{sections?.booking?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.booking?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form" data-aos="fade-up"
        data-aos-delay="100">

        <div class="row">
          <div class="col-md-4 form-group">
            <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required> -->
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" required>

          </div>

          <div class="col-md-4 form-group mt-3 mt-md-0">
            <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required> -->
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>

          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <!-- <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required> -->
            <label for="phone">Phone number:</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">

            <label for="from">From:</label>
            <input type="text" class="form-control" id="from" placeholder="Enter your starting location" required>
          </div>
          <div class="col-md-4 form-group mt-3">

            <label for="to">To:</label>
            <input type="text" class="form-control" id="to" placeholder="Enter your destination" required>

          </div>
          <div class="col-md-4 form-group mt-3">
            <div class="form-group">
              <label>Ticket Type: </label> <br>
              <div class=" form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ticket-type" id="one-way" value="one-way" checked
                  style="margin-top: 10px;">
                <label class="form-check-label" for="one-way" style="margin-top: 10px;">One-way</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ticket-type" id="round-trip" value="round-trip"
                  style="margin-top: 10px;">
                <label class="form-check-label" for="round-trip" style="margin-top: 10px;">Round-trip</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <label for="date">Number of travelers:</label>
            <input type="number" class="form-control" id="travelersNumber" placeholder="Enter the number of travelers"
              [defaultValue]="1" required>
          </div>
          <div class="col-md-4 form-group mt-3">
            <label for="date">Date of Travel:</label>
            <input type="date" class="form-control" id="travel-date" required>
          </div>

          <div class="col-md-4 form-group mt-3" id="return-date-group" style="display: none;">

            <label for="return-date">Return date:</label>
            <input type="date" class="form-control" id="arrival-date" min="">
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
        </div>
        <div class="text-center"><button type="submit">{{localizations.bookbtn[lan]}}</button></div>
      </form>
    </div>
  </section><!-- End Appointment Section -->


  <!-- Gallery Section -->

  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>{{sections?.gallery?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.gallery?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Bali</li>
            <li data-filter=".filter-card">Turkey</li>
            <li data-filter=".filter-web">Thailand</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Bali 1</h4>
            <p>Bali</p>
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Bali 1"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Thailand 3</h4>
            <p>Thailand</p>
            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Thailand 3"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Bali 2</h4>
            <p>Bali</p>
            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Bali 2"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Turkey 2</h4>
            <p>Turkey</p>
            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Turkey 2"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Thailand 2</h4>
            <p>Thailand</p>
            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Thailand 2"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Bali 3</h4>
            <p>Bali</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Bali 3"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Turkey 1</h4>
            <p>Turkey</p>
            <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Turkey 1"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Turkey 3</h4>
            <p>Turkey</p>
            <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Turkey 3"><i class="bx bx-plus"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
          <div class="portfolio-info">
            <h4>Thailand 3</h4>
            <p>Thailand</p>
            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Thailand 3"><i class="bx bx-plus"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section>

  <!-- End Gallery Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->

  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{sections?.questions?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.questions?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
            <p [innerHTML]="questions[0].Question_localized[lan.toLowerCase()] | safeHtml"></p><i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[0].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
            <p [innerHTML]="questions[1].Question_localized[lan.toLowerCase()] | safeHtml"></p> <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[1].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
            <p [innerHTML]="questions[2].Question_localized[lan.toLowerCase()] | safeHtml"></p> <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[2].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
            <p [innerHTML]="questions[3].Question_localized[lan.toLowerCase()] | safeHtml"></p> <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[3].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
            <p [innerHTML]="questions[4].Question_localized[lan.toLowerCase()] | safeHtml"></p> <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[4].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
            <p [innerHTML]="questions[5].Question_localized[lan.toLowerCase()] | safeHtml"></p> <i
              class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
          </div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p [innerHTML]="questions[5].Answer_localized[lan.toLowerCase()] | safeHtml">
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End Frequently Asked Questioins Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{sections?.testimonials?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.testimonials?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let x of testimonials">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                <span [innerHTML]="x.Text_localized[lan.toLowerCase()] | safeHtml"></span>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="{{x.images.testimonials[0].dir}}{{x.images.testimonials[0].image}}" class="testimonial-img"
                alt="">
              <h3>{{x.Name_localized[lan.toLowerCase()]}}</h3>
              <h4>{{x.positionName_localized[lan.toLowerCase()]}}</h4>
            </div>
          </div>
          <!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section>

  <!-- End Testimonials Section -->

  <!-- ======= Our Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Clients</h2>
      </div>

      <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="client-logo">
            <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Our Clients Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>{{sections?.contact?.Title_localized[lan.toLowerCase()]}}</h2>
        <p [innerHTML]="sections?.contact?.Text_localized[lan.toLowerCase()] | safeHtml"></p>
      </div>

    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29000.030601734732!2d46.66601880980515!3d24.692395234523254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f033bb824b417%3A0xdc9745cc4a78b2d2!2sAl%20Olaya%2C%20Riyadh%20Saudi%20Arabia!5e0!3m2!1sen!2slb!4v1676907009995!5m2!1sen!2slb"
        frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container">

      <div class="row mt-5">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Olaya Street, Al Riad, Saudi Arabia kingdoom</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>info@takeoff.com<br>contact@takeoff.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+966 54 423 9000<br>+966 54 423 9000</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="7" placeholder="Message" required=""></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">{{localizations.sendmsgbtn[lan]}}</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-3">
      <div class="col-lg-3 col-md-6 d-flex">
        <i class="bi bi-geo-alt icon"></i>
        <div>
          <h4>Address</h4>
          <p>
            Olaya Street <br>
            Al Riad, Saudi Arabia kingdoom<br>
          </p>
        </div>

      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-telephone icon"></i>
        <div>
          <h4>For booking</h4>
          <p>
            <strong>Phone:</strong> +966 54 423 9000<br>
            <strong>Email:</strong> contact@takeoff.com<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links d-flex">
        <i class="bi bi-clock icon"></i>
        <div>
          <h4>Opening Hours</h4>
          <p>
            <strong>Mon-Sun:</strong> 11AM - 23PM<br>
          </p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 footer-links">
        <h4>Follow Us</h4>
        <div class="social-links d-flex">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Takeoff</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="">Greenera</a>
    </div>
  </div>

</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>