<section class="text-center text-lg-start">

    <!-- Jumbotron -->
    <div class="container py-4">
        <div class="background-image">
            <img src="https://i.ytimg.com/vi/Ofj7t0AaTBs/maxresdefault.jpg" class="w-100 rounded-4 shadow-4"
                style="width: 100%; height: auto;" alt="" />
        </div>

        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card-body p-5">
                    <h2 class="fw-bold mb-5">Create Company user</h2>
                    <form [formGroup]="checkoutForm" (ngSubmit)="signUp()">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="form3Example1" formControlName="fname" class="form-control"
                                        required />
                                    <label class="form-label" for="form3Example1">First
                                        name</label>
                                </div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="form3Example2" formControlName="lname" class="form-control"
                                        required />
                                    <label class="form-label" for="form3Example2">Last
                                        name</label>
                                </div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" formControlName="email" class="form-control"
                                required />
                            <label class="form-label" for="form3Example3">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" formControlName="password" class="form-control"
                                required />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <select formControlName="privilege">
                                <option value="COMPANY">Company</option>
                                <option value="ADMIN">admin</option>
                            </select>
                            <label class="form-label" for="form3Example4">Privilege</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign up
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>