.container {

    background-image: url(../../assets/img/adco-side/plane.jpg);
    background-size: cover;
    background-position: unset;

}



.card-body {
    margin: 0 auto;
    max-width: 420px;
    background: hsla(0, 0%, 100%, 0.55);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;

}