<section class="text-center text-lg-start">


    <!-- Jumbotron -->


    <div class="container py-4">


        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0 d-flex justify-content-center">
                <div class="card-body p-5">
                    <h2 class="fw-bold mb-5">Create Company user</h2>
                    <form [formGroup]="checkoutForm" (ngSubmit)="signUp()" class="was-validated">


                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label class="form-label" for="form3Example1">First
                                    name</label>
                                <input type="text" id="form3Example1" formControlName="fname" class="form-control"
                                    required data-error="Please fill out this field">
                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                            <div class="col-md-6 mb-4">
                                <label class="form-label" for="form3Example2">Last
                                    name</label>
                                <input type="text" id="form3Example2" formControlName="lname" class="form-control"
                                    required>

                                <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                        </div>

                        <!-- Email input -->
                        <div class="form-group mb-4">
                            <label class="form-label" for="form3Example3">Email address</label>
                            <input type="email" id="form3Example3" formControlName="email" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid email address.</div>

                        </div>

                        <!-- Password input -->
                        <div class="form-group mb-4">
                            <label class="form-label" for="form3Example4">Password</label>
                            <input type="password" id="form3Example4" formControlName="password" class="form-control"
                                required>

                            <div class="invalid-feedback">Please fill out this field.</div>

                        </div>

                        <!-- Privilege input -->
                        <div class="form-group mb-4">
                            <label class="form-label" for="form3Example4">Privilege</label>

                            <select formControlName="privilege" class="form-select" required>
                                <option value="COMPANY">Company</option>
                                <option value="ADMIN">admin</option>

                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Please choose one of privilege</div>

                        </div>

                        <!-- <input type="submit" value="Sign Up" class="btn btn-primary btn-block mb-4"> -->

                        <button type="submit" class="btn btn-primary btn-block mb-4"
                            [disabled]="!checkoutForm.valid">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>